
{{ define "main"}}

	{{ if .Params.showAlertMsg }}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  <h6 class="alert-heading">
		Dieser Shop dient nur zu Test-Zwecken !!!
	  </h6>
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{{ end }}

	<figure class="figure w-100">
	  {{ $bgsrc := resources.Get "images/titelbild-creathera-shop.jpg" }}
	  {{ $bgsrc := $bgsrc.Crop "1200x150 Center" }}  
	  <img  src="{{ $bgsrc.RelPermalink }}" 
	  		class="figure-img img-fluid w-100" 
	  		alt="bg">
	</figure>

	{{ markdownify (emojify .Content ) }}

{{ end }}