
{{ define "main"}}

	{{ if .Params.showAlert }}
	<div class="alert alert-warning alert-dismissible fade show" role="alert">
	  <h4 class="alert-heading">
		Bisheriger Shop bei  
	 	<a target="_blank" href="https://sabine.wazala.com/products">Wazala</a>
	  </h4>
	  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	{{ end }}

	<figure class="figure w-100">
	  {{ $bgsrc := resources.Get "images/titelbild-creathera-shop.png" }}
	  {{ $bgsrc := $bgsrc.Crop "1200x350 Center" }}  
	  <img  src="{{ $bgsrc.RelPermalink }}" 
	  		class="figure-img img-fluid w-100" 
	  		alt="bg">
	</figure>

	{{ markdownify (emojify .Content ) }}

{{ end }}